<%= stylesheet_link_tag 'game' %>
<%= javascript_include_tag 'game' %>
<%= javascript_include_tag 'timer.js' %>
<%= audio_tag("bomb", :id => "bomb") %>
<%= audio_tag("clapping", :id => "clapping") %>
<%= audio_tag("evil_laugh", :id => "evil_laugh") %>
<%= audio_tag("kid_laugh", :id => "kid_laugh") %>

<table><tr>
	<span class="button" onclick="create(9,9,16, 'easy')"> Easy</span>
	<span class="button" onclick="create(16, 16, 50, 'medium')"> Medium</span>
	<span class="button" onclick="create(16, 30, 99, 'hard')"> Hard</span>
	<span class="button" onclick="custom()"> Custom</span>
	<span class="button" onclick="hint()"> Hint</span>
	<span class="button" onclick="skins()"> Skins</span>

<div id="overlay" class="overlay">
	<div id="win" class="panel">
		<h1>You win, good job!</h1>
		<h2>Your score: <span id="current_score"></span></h2>
		<span class="button" onclick="create(16,16,50, 'medium')">Play Again</span>
		<span class="button"><a href="/">Home</a></span>
	</div>

	<div id="lose" class="panel">
		<h1>Sorry, you lost!</h1>
		<span class="button" onclick="create(16,16,50, 'medium')">Play Again</span>
		<span class="button"><a href="/">Home</a></span>
	</div>

	<div id="custom" class="panel">
		<h1>Choose board size</h1>
		<form id="form" action="javascript:void(0);">
			<label>Height (8-24)</label>
			<input id="height" type="number" min="8" max="24" required>
			<label>Width (8-30)</label>
			<input id="width" type="number" min="8" max="30" required>
			<input class="submit" type="submit" value="Submit" onclick="createCustom()">
		</form>
	</div>

	<div id="skins" class="panel">
		<h1>Choose your skin</h1>
		<ul class="example-orbit" data-orbit>
      <% if (@user.points >= 5000) %>
		  <li onclick="setskin('skin1')">
		    <span id="skin"><%= image_tag("skin1") %></span>
		  </li>
    <% else %>
		  <li>
		    <span >Points Needed: <%= (5000 - @user.points) %></span>
		  </li>
    <% end %>
      <% if (@user.points >= 10000) %>
		  <li onclick="setskin('skin2')">
		    <span id="skin"><%= image_tag("skin2") %></span>
		  </li>
    <% else %>
		  <li>
		    <span >Points Needed: <%= (10000 - @user.points) %></span>
		  </li>
    <% end %>
      <% if (@user.points >= 15000) %>
		  <li onclick="setskin('skin3')">
		    <span id="skin"><%= image_tag("skin3") %></span>
		  </li>
    <% else %>
		  <li>
		    <span >Points Needed: <%= (15000 - @user.points) %></span>
		  </li>
    <% end %>
		</ul>
	  <span class="button" onclick="closeSkin()"> Close</span>
	</div>

	<td id="bigtable"><span id="board">&nbsp;</span></td>
</div>
</tr></table>


<div>Timer: <span id='time'>0</span></div>